bnasec-build/rootfs/
bnasec-build/debs/
bnasec-build/tools-root/
bnasec-build/live/
bnasec-build/minichroot/
bnasec-build/checkpoint*
bnasec-build/*.iso
bnasec-build/test-usb.img
bnasec-build/shots/
*.squashfs
checkpoint.squashfs
checkpoint-dl.log
upload/
download/*.iso
download/*.sha256
.gitignore-nova
agent-ctx/
node_modules/
.next/

.gh-token
.env

bnasec-build/isostage/
bnasec-build/ovmf-vars.fd
